<!-- {
   name: String,
   streetAddress: String,
   email: String,
   phone: String,
   experiences: [{
      title: String,
      startDate: String,
      endDate: String,
      description: String
   }],
   summary: String,
} -->
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Document</title>
</head>

<body>
   <main>
      <!-- if there are any fields -->
      <% if (fields.length) { %>
         <% fields.forEach(function(field){ %>
            <label>
               <%= field.name %>
            </label>
            <input type="<%= field.type %>" name="<%= field.name %>" <% if (field.property) { %>
            <%= field.property %>
               <% } %> >
                  <% }) %>
                     <% } %>

                        <button type="submit" href="/resume">
                           <%= title %>
                        </button>
                        <!--Title for button is same as that of the page-->

   </main>
   </form>
</body>

</html>
<form action="<%= action %>" method="post">
